@model Schedulers.Schedulers.Setup.Models.SchedulerDashboardViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Scheduler Dashboard</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Started On</th>
                <th>Duration</th>
                <th>Next On</th>
                <th>Status</th>
                <th>Exception</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Models == null || Model.Models.Count == 0)
            {
                <tr><td colspan="7">No record.</td></tr>
            }
            else
            {
                @foreach (var item in Model.Models)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        @if (item.StartTime == DateTime.MinValue)
                        {
                            <td>Not started</td>
                        }
                        else
                        {
                            <td>@item.StartTime</td>

                        }
                        <td>@item.Duration</td>
                        @if (item.NextRun != DateTime.MinValue)
                        {
                            <td>@item.NextRun</td>
                        }
                        else
                        {
                            <td>Will not run</td>
                        }
                        @if (item.IsDisabled)
                        {
                            <td class="text-secondary">@item.Status</td>
                        }
                        else if (item.Exception != null)
                        {
                            <td class="text-danger">@item.Status</td>
                        }
                        else
                        {
                            <td class="text-success">@item.Status</td>
                        }
                        <td>@(item.Exception?.ToString()??"None")</td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>
